<div>
  <div>
  <label for="dps-tb">Player DPS</label>
  <input id="dps-tb" type="number" [ngModel]="dps()" (ngModelChange)="dps.set($event)">
  </div>
  <div>
    <label for="lvl-tb">Player Level</label>
    <input id="lvl-tb" type="number" [ngModel]="lvl()" (ngModelChange)="lvl.set($event)">
  </div>

</div>

<ag-grid-angular
  style="width: 100%; height: 100%;"
  [rowData]="rowData()"
  [columnDefs]="colDefs" [theme]="myTheme" [autoSizeStrategy]="autoSizeStrategy"
  [getRowId]="getRowId"
></ag-grid-angular>
