<div class="shelved" style="padding: 0.5rem;">
  <div class="stacked" style="width: 120px">
    <label for="dps-tb">Player DPS</label>
    <input id="dps-tb" type="number" size="4" min="1" [ngModel]="dps()" (ngModelChange)="dps.set($event)">
  </div>
  <div class="stacked" style="width: 120px">
    <label for="lvl-tb">Player Level</label>
    <input id="lvl-tb" size="3" min="1" type="number" [ngModel]="lvl()" (ngModelChange)="lvl.set($event)">
  </div>
  <div style="flex: 1;"></div>
  <div class="stacked">
    <fieldset class="radio-button-group">
      <legend>Display Mode</legend>
      <input type="radio" name="dm" id="dm-all" [value]="enumGridMode.All" [(ngModel)]="gridMode">
      <label for="dm-all">All</label>
      <input type="radio" name="dm" id="dm-gold" [value]="enumGridMode.Gold" [(ngModel)]="gridMode">
      <label for="dm-gold">Gold</label>
      <input type="radio" name="dm" id="dm-xp" [value]="enumGridMode.XP" [(ngModel)]="gridMode">
      <label for="dm-xp">XP</label>
      <input type="radio" name="dm" id="dm-factionxp" [value]="enumGridMode.FactionXP" [(ngModel)]="gridMode">
      <label for="dm-factionxp">Faction XP</label>
    </fieldset>
  </div>

</div>

<ag-grid-angular
  style="width: 100%; height: 100%;"
  [rowData]="rowData()"
  [columnDefs]="colDefs()" [theme]="myTheme" [autoSizeStrategy]="autoSizeStrategy"
  [getRowId]="getRowId"
  [gridOptions]="gridOptions()"
></ag-grid-angular>
