:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  flex: 0 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}
