@forward './scss/reset.scss';
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #0E0B1C;
  color: #f1f1f1;
}

input {
  background-color: #2a2154;
  color: #f1f1f1;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
fieldset.radio-button-group {
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #2a2154;

  & > legend {
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
    transform: translateX(-0.5rem) translateY(0.25rem);
    border: none;
    background-color: #2a2154;
  }

  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.5rem;
    &:last-of-type {
      margin-right: 0;
    }
    transition: background-color 0.5s ease-in-out;
  }
  input[type="radio"]:checked + label {
    background-color: #f1f1f1;
    color: #0E0B1C;
  }
}
dialog {
  background-color: #2a2154;
  color: #f1f1f1;
  border: none;
  border-radius: 0.55rem;
}
